<div style="position:relative;width:100%;">
    <div class="draw-items">
        <div title="Select from map" data-geotype="POINT" data-commontype="point" class="draw-item point-icon"></div>
        <div title="nls.line" data-geotype="LINE" data-commontype="polyline" class="draw-item line-icon"></div>
        <div title="nls.polyline" data-geotype="POLYLINE" data-commontype="polyline" class="draw-item polyline-icon"></div>
        <div title="Circle" data-geotype="CIRCLE" data-commontype="polygon" class="draw-item circle-icon" data-dojo-attach-point="circleIcon" style="display: block;"></div>
        <div title="nls.text" data-geotype="POINT" data-commontype="text" class="draw-item text-icon " data-dojo-attach-point="textIcon"></div>
        <span class="drawings-clear jimu-float-trailing" data-dojo-attach-point="btnClear">Clear</span>
    </div>
</div>
